.main-about-us {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.main-about-us .column-about-us1 {
    display: flex;
    width: 24%;
    flex-wrap: wrap;
    margin-top: 60px;
}

.main-about-us .column-about-us1 .card {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 131px;
}

.main-about-us .column-about-us1 .card img {
    width: 50%;
}

.main-about-us .column-about-us1 .card .title {
    width: 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 13.981px;
    line-height: 17px;
    letter-spacing: 0.1em;
    color: #000000;
}

.main-about-us .column-line {
    border-right: 1px solid #7C82A1;
    height: 533px;
    width: 1px;
    margin-top: 114px;
}

.main-about-us .column-about-us2 {
    width: 40%;
    padding: 0 3%;
    margin-top: 60px;
}

.main-about-us .column-about-us2 .logo {
    transform: scale(1.5)
}

.main-about-us .column-about-us2 .name-shop {
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 65px;
    font-family: 'Lora';
    color: #000000;
}

.main-about-us .column-about-us2 .p-about-us {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.1em;
    color: #000000;
    margin-top: 63px;
}

.main-about-us .column-about-us3 {
    width: 36%;
}

.main-about-us .column-about-us3 .table-about-us {
    width: 100%;
    height: 422px;
    background: #F3F4F6;
    margin-top: 250px;
    padding: 10% 5%;
}

.main-about-us .column-about-us3 .table-about-us .row-table-about-us {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.main-about-us .column-about-us3 .table-about-us .row-table-about-us .title {
    width: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #22242F;
}

.main-about-us .column-about-us3 .table-about-us .row-table-about-us .detail {
    width: 70%;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #22242F;
}

.main-about-us .column-about-us3 .table-about-us .icons-about-us {
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 65px;
}

.new-product-about-us {
    margin-top: 200px;
    background: #F3F4F6;
    padding-bottom: 30px;
}

.new-product-about-us .new-product-title {
    margin: auto;
    width: 80%;
    padding-top: 49px;
}

.new-product-about-us .new-product-title .title {
    display: flex;
}

.new-product-about-us .new-product-title .title .line {
    width: 40%;
    height: 1px;
    border-bottom: 1px solid #7C82A1;
    margin: auto;
}

.new-product-about-us .new-product-title .title .title1 {
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #22242F;
}

.new-product-about-us .list-new-product-about-us {
    margin-top: 80px;
}

.new-product-about-us .list-new-product-about-us .card {
    width: 100%;
}

.new-product-about-us .list-new-product-about-us .card img {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 408px;
}

.new-product-about-us .list-new-product-about-us .card img:hover {
    transform: scale(1.1)
}

.new-product-about-us .list-new-product-about-us .card .title-new-product {
    margin-top: 32px;
    margin-left: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #22242F;
    height: 60px;
}

.main-about-us .column-about-us2 .logo-mobile {
    display: none;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .new-product-about-us {
        display: none;
    }

    .main-about-us {
        width: 100%;
        display: block;
    }

    .main-about-us .column-about-us1 {
        display: none;
    }

    .main-about-us .column-line {
        display: none;
    }

    .main-about-us .column-about-us2 {
        width: 100%;
        margin-top: 37px;
    }

    .main-about-us .column-about-us2 .logo {
        display: none;
    }

    .main-about-us .column-about-us2 .name-shop {
        font-weight: 700;
        font-size: 21px;
        line-height: 27px;
        text-align: center;
    }

    .main-about-us .column-about-us2 .p-about-us {
        font-weight: 400;
        font-size: 11px;
        line-height: 150%;
        width: 85%;
        margin: auto;
        text-align: center;
        margin-top: 21px;
    }

    .main-about-us .column-about-us2 .logo-mobile {
        display: block;
        margin: auto;
    }

    .main-about-us .column-about-us3 {
        width: 100%;
    }

    .main-about-us .column-about-us3 .table-about-us {
        margin-top: 0;
        height: 204px;
    }

    .main-about-us .column-about-us3 .table-about-us .row-table-about-us .title {
        font-weight: 400;
        font-size: 10.5709px;
        line-height: 150%;
        letter-spacing: 0.05em;
        text-align: right;
    }

    .main-about-us .column-about-us3 .table-about-us .row-table-about-us .detail {
        font-weight: 700;
        font-size: 10.5709px;
        line-height: 150%;
        letter-spacing: 0.05em;
        width: 50%;
        margin: auto;       
    }
    .main-about-us .column-about-us3 .table-about-us .icons-about-us img{
        transform: scale(0.5) !important;
    }
    .main-about-us .column-about-us3 .table-about-us .icons-about-us{
        margin-top: 26px;
    }
    .main-about-us .column-about-us3 .table-about-us .row-table-about-us{
        margin-top: 12px;
    }
}