.header-all {
    color: #000000;
    height: 181px;
    border-bottom: 1px solid #ACAFC3;
}


.header-all .header-all--data {
    top: 68px;
    position: absolute;
    width: 100%;

}


.header-all .header-all--data .logo {
    width: 211px;
    height: 149px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-all .header-all--data .logo-mobile {
    display: none;
}

.header-all .header-all--data .user {
    position: absolute;
    display: flex;
    right: 42.83px;
    top: 37px;
}

.header-all .header-all--data .user .search {
    margin-left: 50.38px;
}

.header-all .header-all--data .user .trans {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: 400;
}

.header-all .header-all--data .shoping {
    margin-left: 40.93px;
}

.header-all .header-all--data .header {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
    display: flex;
    font-style: normal;
    width: 66%;
    margin: auto auto;
    font-weight: 600;
   

}

.header-all .header-all--data .header .header1 {
    margin: auto;
    /* position: relative; */
    
}

.header-all .header-all--data .header .header1 .sub-menu {
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #7C82A1;
    z-index: 4;
}
.header-all .header-all--data .header .header1 .sub-menu li{
    border: 0.5px solid #ACAFC3;
    background: #FFFFFF;
    padding: 15px 15px;
    
}
.header-all .header-all--data .header .header1 .sub-menu li:hover{
    color: #fff;
    background:#000000;
}

.header-all .header-all--data .header .header1:hover {
    color: #DBAA53;
}

.header-all .header-all--data .header .header1:hover > .sub-menu {
    display: block;
    position: absolute;
}

.link-page-all {
    background: #F3F4F6;
    height: 65px;
    top: 249px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.link-page-all .title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.main-all {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 174px;
}

.main-all .column-filter {
    width: 30%;
    padding: 5px;
}

.main-all .column-filter .title-filter {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    margin-top: 35px;
    /* border-bottom: 2px solid #000000; */
}

.main-all .column-filter .title-filter-detail {
    margin-top: 53px;
}

.main-all .column-filter .title-filter-detail li {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;

    color: #555A77;
    border-bottom: 0.5px solid #ACAFC3;
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.main-all .column-filter .title-filter-detail li .amount-check {
    align-self: self-start;
    margin-left: auto;
}


.main-all .column-filter .title-filter-detail li .amount-check input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-left: 19px;
    transform: translateX(-100%)
}

.main-all .column-filter .title-filter-detail li .amount-check input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid #ACAFC3;
    border-radius: 5px;
}

.main-all .column-filter .title-filter-detail li .amount-check input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 14px;
    border: 2px solid #DBAA53;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 7px;
}

/* filter price */
/* .main-all .column-filter .title-filter-detail input[type=range] {
    -webkit-appearance: none;
    margin: 15px 0;
    width: 100%;
}

.main-all .column-filter .title-filter-detail input[type=range]:focus {
    outline: none;
}

.main-all .column-filter .title-filter-detail input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #DBAA53;
    border-radius: 25px;
}

.main-all .column-filter .title-filter-detail input[type=range]::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #DBAA53;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}

.main-all .column-filter .title-filter-detail input[type=range]:focus::-webkit-slider-runnable-track {
    background: #DBAA53;
} */
/* ------------------------------------- */
.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #DBAA53;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #DBAA53;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #DBAA53;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}


/* --------------- */
.main-all .column-filter .title-filter-detail .price-input {
    display: none;
}

.main-all .column-filter .title-filter-detail .range-wrap {
    width: 100%;
    position: relative;
}

.main-all .column-filter .title-filter-detail .range-value-price {
    position: absolute;
    top: -50%;
    width: 30%;
    transform: translateY(-200%);
}

.main-all .column-filter .title-filter-detail .range-value-price span {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    background: #043CA0;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 19px;
}

/* .range-value span:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #03a9f4;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  } */
.main-all .column-filter .list-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
}

.main-all .column-filter .list-icons .card-icon {
    width: 90%;
    margin: auto;
    margin-top: 60px;
}

.main-all .column-filter .list-icons .card-icon img {
    display: block;
    margin: auto;
}

.main-all .column-filter .list-icons .card-icon .title {
    font-weight: 600;
    font-size: 20.7418px;
    line-height: 150%;
    text-align: center;
    color: #ACAFC3;
    width: 60%;
    margin: auto;
}

.main-all .column-filter .list-icons .card-icon .title-small {
    font-style: normal;
    font-weight: 400;
    font-size: 16.791px;
    line-height: 150%;
    color: #7C82A1;
    text-align: center;
}

.main-all .colum-list-products {
    width: 70%;
}

.main-all .colum-list-products .amount-products {
    width: 156px;
    height: 30px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #DBAA53;
    top: 35px;
}

.main-all .colum-list-products .sort-product-list {
    width: 50%;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #555A77;
    float: right;
}

.main-all .colum-list-products .sort-product-list .sort {
    margin: auto;
}

.main-all .colum-list-products .sort-product-list .type-sort {
    margin: auto;
    width: 223px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #555A77;
    border: 1px solid #ACAFC3;
}



.main-all .colum-list-products .sort-product-list .type-sort option {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #555A77;
    border-radius: 0;
}

.main-all .colum-list-products .sort-product-list .btn-sort {
    width: 48px;
    height: 48px;
    border: 1px solid #ACAFC3;
    margin: auto;
}


.main-all .colum-list-products .products-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-all .colum-list-products .products-list .card-product {
    width: 33%;
    border: 1px solid #ACAFC3;
    margin: auto;
    margin-top: 35px;
}

.main-all .colum-list-products .products-list .card-product:hover {
    background: #000000;
}

.main-all .colum-list-products .products-list .card-product img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.main-all .colum-list-products .products-list .card-product .title-product {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #DBAA53;
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    width: 90%;
}

.main-all .colum-list-products .products-list .card-product:hover .title-product {
    color: #FFFFFF;
}


.main-all .colum-list-products .products-list .card-product .price-product {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #22242F;
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    width: 90%;
    margin-bottom: 31px;
}

.main-all .colum-list-products .products-list .card-product:hover .price-product {
    color: #DBAA53;
}

.main-all .colum-list-products .products-list .card-product .btn-card-product {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    padding: 12px 15px;
    text-align: center;
    position: absolute;
    transform: translate(10%, 250%);
    width: 15%;
    display: none;
}

.main-all .colum-list-products .products-list .card-product:hover .btn-card-product {
    display: block;
}

.main-all .colum-list-products .products-list .card-product .btn-card-product:hover {
    background: #DBAA53;
    color: #FFFFFF;
}

.main-all .colum-list-products .line {
    width: 100%;
    border-bottom: 0.5px solid #ACAFC3;
    margin-top: 60px;
}

.main-all .colum-list-products .number-page {
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 60px;
}

.main-all .colum-list-products .number-page .number {
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #000000;
}

.main-all .colum-list-products .number-page .next {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #000000;
}

.list-chat {
    width: 7%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 15px;
    transform: translateY(-120%);
}

.list-chat .chat {
    width: 100%;
}

.list-chat .btn-chat {
    border: 1px solid #F3F4F6;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 74px;
    height: 74px;
    margin: auto;
}

.header-all .header-all--data .menu {
    display: none;
}

.main-all .colum-list-products .icons_settings {
    display: none;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .home-header--profile {
        display: none;
    }

    .main-all {
        width: 100%;
    }

    .header-all {
        width: 100%;
        Height: 53px;
    }

    .header-all .header-all--data .logo {
        display: none;
    }

    .header-all .header-all--data .user .trans {
        display: none;
    }

    .header-all .header-all--data .user .avata-user {
        display: none;
    }

    .header-all .header-all--data .header {
        display: none;
    }

    .main-all .column-filter {
        display: none;
    }

    .main-all .colum-list-products {
        width: 95%;
        margin: auto;
    }

    .main-all .colum-list-products .sort-product-list .sort {
        display: none;
    }

    .header-all .header-all--data .user {
        right: 16px;
        top: 10px
    }

    .header-all .header-all--data {
        top: 0;
    }

    .header-all .header-all--data .logo-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-10%);
    }

    .header-all .header-all--data .menu {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .main-all .colum-list-products .amount-products {
        top: 14px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        height: 40px;
    }

    .main-all .colum-list-products .sort-product-list .type-sort {
        height: 28.04px;
        font-weight: 400;
        font-size: 11.099px;
        line-height: 13px;
        width: 130.27px;
    }

    .main-all .colum-list-products .sort-product-list .type-sort option {
        font-weight: 400;
        font-size: 11.099px;
        line-height: 13px;
        height: 28.04px;

    }

    .main-all .colum-list-products .sort-product-list .btn-sort .icon-btn-sort {
        margin-top: 3px !important;
        transform: scale(0.5);
    }

    .link-page-all .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-left: 10px !important;
    }

    .main-all .colum-list-products .sort-product-list .btn-sort {
        width: 28.04px;
        height: 28.04px;
    }

    .main-all .colum-list-products .products-list .card-product {
        width: 45%;
    }

    .main-all .colum-list-products .products-list .card-product .title-product {
        font-size: 10.232px;
        line-height: 12px;
        letter-spacing: 0.05em;
    }

    .main-all .colum-list-products .products-list .card-product .price-product {
        font-weight: 400;
        font-size: 9.25754px;
        line-height: 11px;
        letter-spacing: -0.02em;
    }

    .main-all .colum-list-products .number-page .number {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
    }

    .main-all .colum-list-products .number-page .next {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
    }

    .list-chat {
        width: 15%;
    }

    .list-chat .btn-chat .icon-btn-chat {
        transform: scale(0.5);
        position: relative;
        top: -2px;
        left: -2px;
        margin-top: 0px !important;
    }

    .list-chat .btn-chat {
        width: 40px;
        height: 40px;
    }

    .main-all .colum-list-products .icons_settings {
        display: block;
        position: absolute;
        top: 155px;
    }

    .main-all .colum-list-products .products-list .card-product:hover .btn-card-product {
        display: none;
    }

    .img-logo {
        display: none;
    }
}