.link-page-all .title1 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.main-pay-detail {
    width: 80%;
    margin: auto;
    margin-bottom: 174px;
}

.main-pay-detail .payment-steps {
    display: flex;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #ACAFC3;
    margin-top: 21px;
}

.main-pay-detail .payment-steps .title {
    width: 33.3333%;
}

.main-pay-detail .payment-steps-line {
    height: 10px;
    width: 100%;
    background: #F3F4F6;
    margin-top: 20px;
    display: flex;
}

.main-pay-detail .payment-steps-line .step {
    width: 33.3333%;
    height: 100%;
}

.main-pay-detail .pay-detail {
    display: flex;
    width: 100%;
    margin-top: 71px;
}

.main-pay-detail .pay-detail .pay-detail-information {
    width: 70%;
    border: 1px solid #ACAFC3;
    height: 1000px;
    color: #ACAFC3;
}

.main-pay-detail .pay-detail .pay-detail-information .information-title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #22242F;
    margin-top: 49px;
    margin-left: 7%;
}

.main-pay-detail .pay-detail .pay-detail-information .address-title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-top: 104px;
    margin-left: 7%;
}

.main-pay-detail .pay-detail .pay-detail-information .add-information {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.main-pay-detail .pay-detail .pay-detail-information .add-information .add-information-title {
    width: 25%;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: right;
}

.main-pay-detail .pay-detail .pay-detail-information .add-information .input-information {
    border: 1px solid #ACAFC3;
    width: 499px;
    height: 53px;
    outline: none;
    margin-left: 3%;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 150%;
    letter-spacing: 0.05em;
    padding: 14px 19px 14px 19px;
}

.main-pay-detail .pay-detail .pay-detail-information .add-information .warning {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-left: 3%;
    color: #FF0000;

}

.main-pay-detail .pay-detail .pay-detail-information1 {
    width: 28%;
    margin-left: 2%;
}

.main-pay-detail .pay-detail .pay-detail-information1 .title-cart {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #22242F;
    margin-top: 49px;
    width: 100%;
    text-align: center;
}

.main-pay-detail .pay-detail .pay-detail-information1 .price-table {
    width: 100%;
    background: #F3F4F6;
    height: 212px;
    margin-top: 30px;
    padding: 15% 10%;
}

.main-pay-detail .pay-detail .pay-detail-information1 .price-table .row-table-price {
    display: flex;
    margin: auto;
    margin-top: 33px;
}

.main-pay-detail .pay-detail .pay-detail-information1 .price-table .row-table-price .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #22242F;
}

.main-pay-detail .pay-detail .pay-detail-information1 .price-table .row-table-price .price {
    align-self: self-start;
    margin-left: auto;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #22242F;
}

.main-pay-detail .pay-detail .pay-detail-information1 .price-table .line {
    width: 100%;
    border-bottom: 1px solid #ACAFC3;
    margin-top: 33px;
}

.main-pay-detail .pay-detail .pay-detail-information1 .check-ship {
    display: flex;
    margin-top: 33px;
}

.main-pay-detail .pay-detail .pay-detail-information1 .check-ship .check-box {
    width: 15%;
}

.main-pay-detail .pay-detail .pay-detail-information1 .check-ship .check-box .check {
    border: 1px solid #ACAFC3;
    width: 32px;
    height: 32px;
    border-radius: 0;
}

.main-pay-detail .pay-detail .pay-detail-information1 .check-ship .ship-title {
    width: 85%;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #22242F;
}

.main-pay-detail .pay-detail .pay-detail-information1 .check-ship .ship-title1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ACAFC3;
    width: 85%;
}

.main-pay-detail .pay-detail .pay-detail-information1 .phone-table {
    border: 1px solid #ACAFC3;
    height: 188px;
    margin-top: 61px;
    padding: 15% 5%;
    display: flex;
}

.main-pay-detail .pay-detail .pay-detail-information1 .phone-table .title-customer {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #22242F;
}

.main-pay-detail .pay-detail .pay-detail-information1 .phone-table .title-phone {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #22242F;
    margin-top: 10px;
}
.main-pay-detail .pay-detail .pay-detail-information1 .bnt-next{
    background: #000000;
    width: 133px;
    height: 50px;
    display: block;
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 42px;
}
.main-pay-detail .pay-detail .pay-detail-information-mobile {
    display: none;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .link-page-all .title1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .main-pay-detail {
        width: 90%;
    }

    .main-pay-detail .payment-steps-line {
        height: 3px;
        margin-top: 7.47px;
    }

    .main-pay-detail .payment-steps {
        font-weight: 600;
        font-size: 9px;
        line-height: 11px;
        margin-top: 7px;
    }

    .main-pay-detail .pay-detail .pay-detail-information {
        display: none;
    }

    .main-pay-detail .pay-detail .pay-detail-information1 {
        display: none;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile {
        width: 100%;
        display: block;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .price-table {
        width: 100%;
        background: #F3F4F6;
        height: 100px;
        padding: 5% 0%;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .price-table .row-table-price {
        display: flex;
        margin: auto;
        margin-top: 14px;
        width: 90%;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .price-table .row-table-price .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #22242F;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .price-table .row-table-price .price {
        align-self: self-start;
        margin-left: auto;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        color: #22242F;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .line {
        width: 100%;
        border-bottom: 1px solid #ACAFC3;
        margin-top: 14px;
    }

    .main-pay-detail .pay-detail {
        margin-top: 25.53px;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .add-information {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 8px;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .add-information .add-information-title {
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #ACAFC3;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .add-information .input-information {
        width: 90%;
        border: 1px solid #ACAFC3;
        height: 53px;
        margin-top: 6px;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .add-information .warning {
        width: 10%;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #FF0000;
        margin-top: 6px;
        text-align: right;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .add-information .input-information1 {
        width: 90%;
        border: 1px solid #ACAFC3;
        margin-top: 6px;
        height: 132px;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .check-ship {
        display: flex;
        align-items: center;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .check-box {
        width: 20%;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .check-box .check {
        border: 1px solid #ACAFC3;
        width: 32px;
        height: 32px;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .ship-title {
        width: 80%;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #22242F;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .ship-title1 {
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color: #ACAFC3;
        width: 80%;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .bnt-next {
        background: #000000;
        width: 133px;
        height: 50px;
        display: block;
        margin: 0 auto;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 42px;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .phone-table {
        width: 100%;
        height: 107px;
        border: 0.687375px solid #ACAFC3;
        display: flex;
        align-items: center;
        margin-top: 66px;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .phone-table img {
        transform: scale(0.6);
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .phone-table .title-customer {
        font-style: normal;
        font-weight: 600;
        font-size: 17.1844px;
        color: #7C82A1;
    }

    .main-pay-detail .pay-detail .pay-detail-information-mobile .phone-table .title-phone {
        font-style: normal;
        font-weight: 500;
        font-size: 14.4349px;
        line-height: 17px;
        color: #7C82A1;
        margin-top: 22.3px;
    }
    .main-pay-detail .pay-detail .pay-detail-information-mobile .phone-table .box{
        margin: auto;
    }
}